

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #171717;
    color: #f3f3f3;

    font-family: 'Open Sans', Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;

    height: 100vh;
    height: -webkit-fill-available;
    height: -moz-available;
}

html {
    height: -webkit-fill-available;
    height: -moz-available;
}

#root {
    height: 100vh;
    height: -webkit-fill-available;
    height: -moz-available;

    display: flex;
    flex-direction: column;
    align-items: center;
}

$footer-height: 50px;

.app-wrapper {
    width: 100%;
    max-width: 1040px;

    min-height: 100vh;
    min-height: -webkit-fill-available;
    min-height: -moz-available;

    display: flex;
    flex-direction: column;
}

.app-wrapper__flex {
    display: flex;
    flex-direction: column;
    height: 100%;

    padding-left: 30px;
    padding-right: 30px;
}

.content {
    flex: 1;
}
